<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="wsDemo.Properties.Settings.wsDemoConnectionString"
            connectionString="Data Source=DESKTOP-08FTUKK\SQLEXPRESS;Initial Catalog=ws_demo;Integrated Security=True;"
            providerName="" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>